body {
    background-image: url(/images/geometry2.png);
    background-size: 550px 550px;
    background-position: 90%;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    overflow: hidden;
    font-weight: 300;
}

.container-fluid {
    background-color: #fff;
    background-image: url(/images/pattern-bg.svg);
    background-size: 550px 550px;
    background-repeat: no-repeat;
    background-position: 81% 42%;
    background-attachment: fixed;
    max-width: 1260px;
    height: 650px;
    /* margin: 50px 0 0 80px;  */
    margin: 70px auto 0px auto;
}

.info {
    display: flex;
}

.info h5 {
    padding: 4px 0px 0 8px;
}

h5 {
    color: hsl(240, 18%, 77%);
}

.tanya {
    padding: 25px;
    justify-content: center;
    padding-top: 150px;
    margin-left: -150px;
}

.John {
    padding: 25px;
    justify-content: center;
    padding-top: 150px;
    margin-left: -150px;

}

.tanya,
.John {
    background-image: url(/images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: 10.8% 92.7%;
    background-attachment: fixed;
}

div p::before {
    content: url(/images/pattern-quotes.svg);
    position: fixed;
    left: 390px;
    top: 162px;
}

.div-img {
    width: 300px;
}

.text {
    width: 740px;
    padding: 10px 0 0 173px;
    z-index: 1;
}

.img-1 {
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px hsl(240, 18%, 77%);
    position: relative;
    margin-right: 5rem;
    position: relative;
    right: 5.5rem;
    top: -4rem;
}

.img-2 {
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px hsl(240, 18%, 77%);
    position: relative;
    margin-right: 5rem;
    position: relative;
    right: 5.5rem;
    top: -4rem;
}

.slider-nav {
    display: flex;
    width: 100px;
    box-shadow: 5px 10px 20px hsla(240, 38%, 20%, 0.4);
    border-radius: 40px;
    overflow: hidden;
    z-index: 10;
    position: relative;
    top: -91px;
    left: -48px;
    background-color: white;
    padding-top: 10px;
    height: 50px;
}

.slider-nav:hover,
.slide-prev:hover,
.slide-next:hover {
    background-color: hsl(240, 18%, 77%);
    transition: background .2s ease-in-out;
}

.slider-btn {
    width: 50%;
    height: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.slide-prev {
    background: url(images/icon-prev.svg);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-next {
    background: url(images/icon-next.svg);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}

.flexbox {
    display: flex;

}


@media (max-width:768px) {

    body {
        font-size: 10px;
    }

    .container-fluid {

        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        height: 736px;
        background-size: 377px 331px;
        background-repeat: no-repeat;
        background-position: 45% 6%;
    }



    .tanya {
        padding: 25px;
        justify-content: center;
        padding-top: 0px;
        margin-left: 0px;
        background-size: 509px 109px;
        background-repeat: no-repeat;
        background-position: 466% 99%;
        background-attachment: fixed;
    }

    .John {
        padding: 25px;
        justify-content: center;
        padding-top: 0px;
        margin-left: 0px;
        background-size: 509px 109px;
        background-repeat: no-repeat;
        background-position: 466% 99%;
        background-attachment: fixed;
    }


    .img-1 {
        right: 10.8rem;
        top: -4rem;
        max-width: 270px;
        margin-right: 0;
    }

    .img-2 {
        right: 10.8rem;
        top: -4rem;
        max-width: 270px;
        margin-right: 0;
    }

    .text {
        position: relative;
        top: 50px;
        left: 115px;
        padding: 0;
        font-size: 1rem;
        min-width: 360px;
        text-align: center;
    }

    .info {
        display: block;
        text-align-last: center;
    }

    .div-img {
        width: 252px;
        position: relative;
        top: -217px;
        left: -9px;    
        height: 370px;
    }

    .slider-nav {

        left: -80px;
 
    }
    div p::before {
        content: url(/images/pattern-quotes.svg);
        position: fixed;
        left: 180px;
        top: 342px;
        transform: scale(.5);
    }

}